<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="duke" class="com.vimemacs.springidol.Juggler">
        <constructor-arg value="15"/>
    </bean>

    <bean id="sonnet29" class="com.vimemacs.springidol.Sonnet29"/>

    <bean id="poeticDuke" class="com.vimemacs.springidol.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg>
            <bean class="com.vimemacs.springidol.Sonnet29"/>
        </constructor-arg>
    </bean>

    <bean id="theStage" class="com.vimemacs.springidol.Stage" factory-method="getInstance"/>

    <bean id="ticket" class="com.vimemacs.springidol.Ticket" scope="prototype"/>

    <bean id="ticket1" class="com.vimemacs.springidol.Ticket"/>

    <bean id="auditorium" class="com.vimemacs.springidol.Auditorium" init-method="turnOnLights" destroy-method="turnOffLights"/>

    <bean id="saxophone" class="com.vimemacs.springidol.Saxophone" autowire-candidate="false"/>

    <bean id="piano" class="com.vimemacs.springidol.Piano" autowire-candidate="false"/>

    <bean id="guitar" class="com.vimemacs.springidol.Guitar" autowire-candidate="false"/>

    <bean id="cymbal" class="com.vimemacs.springidol.Cymbal" autowire-candidate="false"/>

    <bean id="harmonica" class="com.vimemacs.springidol.Harmonica" autowire-candidate="false"/>

    <bean id="kenny" class="com.vimemacs.springidol.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="age" value="37"/>
        <property name="instrument" ref="saxophone"/>
    </bean>

    <bean id="kennyp" class="com.vimemacs.springidol.Instrumentalist" p:song="Jingle Bells" p:instrument-ref="saxophone"/>

    <bean id="instrument" class="com.vimemacs.springidol.Saxophone"/>

    <bean id="kennyAutowiringByName" class="com.vimemacs.springidol.Instrumentalist" autowire="byName">
        <property name="song" value="Jingle Bells"/>
        <property name="age" value="37"/>
    </bean>

    <bean id="kennyAutowiringByType" class="com.vimemacs.springidol.Instrumentalist" autowire="byType">
        <property name="song" value="Jingle Bells"/>
        <property name="age" value="37"/>
    </bean>

    <bean id="hank" class="com.vimemacs.springidol.OneManBand">
        <property name="instruments">
            <list>
                <ref bean="guitar"/>
                <ref bean="cymbal"/>
                <ref bean="harmonica"/>
            </list>
        </property>
    </bean>

    <bean id="hankMap" class="com.vimemacs.springidol.OneManBandMap">
        <property name="instruments">
            <map>
                <entry key="GUITAR" value-ref="guitar"/>
                <entry key="CYMBAL" value-ref="cymbal"/>
                <entry key="HARMONICA" value-ref="harmonica"/>
            </map>
        </property>
    </bean>

    <bean id="hankProp" class="com.vimemacs.springidol.OneManBandProperties">
        <property name="instruments">
            <props>
                <prop key="GUITAR">STRUM STRUM STRUM</prop>
                <prop key="CYMBAL">CRASH CRASH CRASH</prop>
                <prop key="HARMONICA">HUM HUM HUM</prop>
            </props>
        </property>
    </bean>

    <bean id="songSelector" class="com.vimemacs.springidol.SongSelector">
        <constructor-arg value="My Love"/>
    </bean>

    <bean id="carl" class="com.vimemacs.springidol.Instrumentalist">
        <property name="song" value="#{songSelector.selectSong()?.toUpperCase()}"/>
        <property name="instrument" value="#{kenny.instrument}"/>
    </bean>


</beans>
