<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <bean id="duke" class="com.vimemacs.springidol.Juggler">
        <constructor-arg value="15"/>
    </bean>

    <bean id="sonnet29" class="com.vimemacs.springidol.Sonnet29"/>

    <bean id="poeticDuke" class="com.vimemacs.springidol.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonnet29"/>
    </bean>

    <bean id="theStage" class="com.vimemacs.springidol.Stage" factory-method="getInstance"/>

    <bean id="ticket" class="com.vimemacs.springidol.Ticket" scope="prototype"/>

    <bean id="ticket1" class="com.vimemacs.springidol.Ticket"/>

</beans>
